.nav-content {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--couleur-rouge);
    color: var(--couleur-beige);
    overflow-x: hidden;
    transition: all 0.6s ease-out;

    #nav-links {
        height: 85vh;
        border: solid 2 px red;
    }

    ul {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 40px;
        margin-top: 30px;
        font-family: var(--police-parisian);
        font-size: 40px;
        transition: all 1s ease-out;

        hr {
            border: solid 0.5px var(--couleur-beige);
            margin-top: 55px;
            width: 75vw;
            margin-left: auto;
            margin-right: auto;
        }

        li {
            list-style: none;
            padding: 8px;
            margin-bottom: 20px;
            white-space: nowrap;
            display: block;


            a {
                text-decoration: none;
                display: block;

            }
        }
    }

    a.close-btn {
        position: absolute;
        top: 15px;
        left: 15px;
    }
}