/*[ VARIABLES DU PROJET ]*/
/* ------------------------------------------------------------ */
:root {
        /*[ COULEURS ]*/
    --couleur-rouge: #7b0323;
    --couleur-beige: #fff0ce;
    --rouge-pale: rgba(123, 3, 35, 0.6);

        /*[ TYPO ]*/
    --police-hind: "Hind Guntur", sans-serif;
    --police-parisian: "Parisian", cursive;
}



